src/frontend/node_modules
src/frontend/dist/*.html
src/frontend/dist/static
src/backend/node_modules
src/backend/public/*.html
src/backend/public/static
bin/db/mongo/data/mongod.lock
bin/db/mongo/data/mongodb.log
bin/db/mongo/data/mongodb.log.*
